{% extends "index.html" %}


{%block contenido%}
<div class="card border-primary  mb-3 ">
  <div class="card-body">
    <h5 class="card-title">Regresión no Lineal</h5>
    <p class="card-text">Regresión no lineal es un método para encontrar un modelo no lineal para la relación entre la variable dependiente y un conjunto de variables independientes. A diferencia de la regresión lineal tradicional, que está restringida a la estimación de modelos lineales, la regresión no lineal puede estimar modelos con relaciones arbitrarias entre las variables independientes y las dependientes. Esto se lleva a cabo usando algoritmos de estimación iterativos. </p>
    <p class="card-text"><small class="text-muted">La parabola de minimos cuadrados que aproxima el conjunto de puntos <b>(X1,Y1),(X2,Y2),(X3,Y3),.......(XN, YN)</b> tiene ecuacion dada por <b>y = a0 + a1X + ax2</b> donde las constantes <b>a0,a1,a2</b> se determina al resolver simultáneamente las ecuaciones.</small></p>
  </div>
    <img src="/media/images/regresionnolineal.png"   width="25%" height="140px" alt="...">
</div>
<div class="container">
    <div class="title text-center">
        <h3 class="title-blue">MÉTODO REGRESIÓN NO LINEAL</h3>
    </div>
    <form action="/metodos_regresion/RNL_muestras/" method="POST">{% csrf_token %}
                   <label value="Calcular" for="exampleFormControlInput1" class="form-label"><b>INGRESE N DE MUESTRA:</b></label>

        <input  class="btn btn-sec btn-b col-md-5 m-4"  type="number" name="cantidad" placeholder="Ingrese la cantidad de N Muestras a Generar" required>
        <input class="btn btn-dark " type="submit">
    </form>
    <form method="get" action="/">
			<input class="btn btn-dark " target="_blank" type="submit" value=Regresar>
		</form>
    <br>
    <br>
    <br><br>
</div>
{% endblock%}
