/*-----------------------------------
    Small devices (landscape phones, 576px and up)
------------------------------------*/
@media (min-width: 576px) {
  .top-header {
    padding: 25px 0 15px;
  }
  .hero .slide-content {
    min-height: 700px;
  }
  .hero .slide-content h1 {
    margin-top: 100px;
  }

}

/*-----------------------------------
    Medium devices (tablets, 768px and up)
------------------------------------*/
@media (min-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 8px 10px;
  }
  .navbar-expand-md .navbar-nav .nav-item {
    margin-right: 12px;
  }
  .navbar-collapse .nav-link {
    font-size: 0.875rem;
    position: relative;
  }
  .navbar-collapse .nav-link::before {
    content: "\f0d8";
    font-family: FontAwesome;
    color: #de1f1f;
    position: absolute;
    bottom: 7px;
    line-height: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    transition: all 0.35s ease;
  }
  .navbar-collapse .nav-link::after {
    content: "";
    width: 0;
    height: 4px;
    background-color: #de1f1f;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all 0.35s ease;
  }
  .navbar-collapse .nav-link:hover::after {
    width: 100%;
    left: 0;
  }
  .navbar-collapse .nav-link:hover::before {
    opacity: 1;
  }
  
  .hero .slide-content h1 {
    font-size: 3.5rem;
  }
}

/*-----------------------------------
    Large devices (desktops, 992px and up)
------------------------------------*/
@media (min-width: 992px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 8px 13px;
  }
  .navbar-expand-md .navbar-nav .nav-item {
    margin-right: 22px;
  }
  .hero .slide-content {
    min-height: 100vh;
  }
  .hero .slide-content h1 {
    font-size: 4.5rem;
  }
  .title h1 {
    font-size: 48px;
  }
}

/*-----------------------------------
    Extra large devices (large desktops, 1200px and up)
------------------------------------*/
@media (min-width: 1200px) {
  .navbar-brand img {
    width: auto;
  }
  .title h1 {
    font-size: 58px;
  }
}
