{% extends "index.html" %}

{%block contenido%}  
<section  class="pricing-table" id="contenido">

<div class="container">
    <div class="title text-center">
        <h3 class="title-blue">RESULTADOS ALISAMIENTO EXPONENCIAL</h3>
    </div>
    <div class="table-responsive-sm">
        {{data | safe}}
    </div>
    <center> <h4 class="title-blue">GRÁFICA RESULTANTE METODO ALISAMIENTO EXPONENCIAL</h4></center>

    <img class="mx-auto d-block" src="/metodos_probabilisticos/AEX_grafico/"  width="600px" />
      <form method="get" action="/">
			 <button class="btn btn-primary btn-lg mx-auto d-block btn-no-hover" type="submit">Volver al Inicio</button> >
		</form>  
</div>
</section>
{% endblock%}
