{% extends "index.html" %}


{%block contenido%}
  <section  class="pricing-table" id="contenido">

<div class="container">
    <div class="title text-center">
        <h3 class="title-blue">LINEAS DE ESPERA CAJA DE SUPERMECADO GRAN AKI MANTA</h3>
    </div>
    <form action="/modelo_real/Rls_resultado/" method="POST">{% csrf_token %}
        <div class="row">
            <label value="Calcular" for="exampleFormControlInput1" class="form-label"><b>p:</b></label>                 

            <input  class="btn btn-sec btn-block col-md-5 m-4"  type="number" name="numero" placeholder="Ingrese Numero De Clientes" required>
               <label value="Calcular" for="exampleFormControlInput1" class="form-label"><b>λ:</b></label>

            <input  class="btn btn-sec btn-block col-md-5 m-4"  type="number" name="landa" placeholder="Ingrese Landa" step="0.01" required>
                   </div>
                   <div class="row">

                        <label value="Calcular" for="exampleFormControlInput1" class="form-label"><b>𝝻:</b></label>                 

            <input  class="btn btn-sec btn-block col-md-5 m-4"  type="number" name="nu" placeholder="Ingrese Nu"step="0.01" required>
             </div>
             <input class="btn btn-dark" type="submit">
            
       
    </form>
    <form method="get" action="/">
			<input  class="btn btn-dark" target="_blank" type="submit" value=Regresar>
		</form>
</div>
</section>
{% endblock%}