{% extends "index.html" %}

{%block contenido%}
  <section  class="pricing-table" id="contenido">

<div class="container">
    <div class="title text-center">
        <h3 class="title-blue">RESULTADOS METODO CUADRADO MEDIO </h3>
    </div>
    <div class="table-responsive-sm">
        {{data | safe}}
    </div>
             <center> <h4 class="title-blue">GRÁFICA RESULTANTE POR EL METODO CUADRADO MEDIO </h4></center>

    <img class="mx-auto d-block" src="/metodos_randoms/CM_resultado/grafica"  width="600px" /> 
</div>
<form method="get" action="/">
			 <button class="btn btn-primary btn-lg mx-auto d-block btn-no-hover" type="submit">Volver al Inicio</button> >
		</form>
        </section>
{% endblock%}
